body{
    margin: 0px;
    background-color: #f6f6f6;
    height: 100vh;
    font-family: poppins;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}